/* ШРИФТИ==================================================================================================== */

/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Quicksand:500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,regular&display=swap");
@import url("https://fonts.googleapis.com/css?family=Exo:regular,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Orbitron:500&display=swap");

/* Локальне підключення */
@import url("fonts.css");

/* СКИДАННЯ СТИЛІВ=========================================================================================== */
@import url("reset.css");

/* font-family: "Roboto", sans-serif; */
/* font-family: "Proxima Nova", sans-serif; */
body {
  font-family: "Proxima Nova", sans-serif;
  background-color: #333333;
  color: #fff;
}

[class*="__container"] {
  max-width: 1440px;
  margin: 0 auto;
}

.wrapper {
  overflow: clip;
  min-height: 100%;
}
/* ==================================================================================================== */
.header {
  padding: 20px 0;
  background-color: #505050;
  margin-bottom: 20px;
}
.header__text {
  text-align: center;
  font-size: 40px;
}
/* ==================================================================================================== */
.newton {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  border-top: 10px solid #e6aa2d;
  position: relative;
  margin-bottom: 115px;
}

.newton__item:nth-child(1) {
  left: 0;
  animation: left-item 1s infinite ease-out alternate;
}
.newton__item:nth-child(2) {
  left: 33.333%;
}
.newton__item:nth-child(3) {
  right: 0;
  animation: right-item 1s infinite ease-out alternate;
}

.newton__item {
  position: absolute;
  top: -2px;
  height: 100%;
  width: 33.333%;
  transform-origin: top;
}

.newton__item::before {
  content: "";
  width: 5px;
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  background-color: #2f6165;
}

.newton__item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background-color: #de803d;
  border-radius: 50%;
}

@keyframes left-item {
  0% {
    transform: rotate(45deg);
  }
  50%,
  100% {
    transform: rotate(0deg);
  }
}
@keyframes right-item {
  0%,
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-45deg);
  }
}
/* ==================================================================================================== */
.transform__car {
}
.car {
  position: relative;
  width: 1000px;
  height: 350px;
  margin: 0 auto;
  padding: 100px;
}
.car__body {
  margin: 0 auto;
}

.body-car {
  position: relative;
  width: 800px;
  height: 150px;
  background: #8d0c25;
  perspective: 300px;
}

.body-car:hover {
  animation: car-skew 1s linear 3s, car-run 1s ease-in 4s;
}

@keyframes car-skew {
  0% {
    transform: skew(0deg, 0deg);
  }
  50% {
    transform: skew(30deg, 0deg);
  }
  100% {
    transform: skew(0deg, 0deg);
  }
}

@keyframes car-run {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(1000px, 0);
  }
}
.body-car__element:nth-child(1) {
  position: absolute;
  content: "";
  bottom: 0;
  left: 80px;
  width: 150px;
  height: 50px;
  background: #333333;
  border-radius: 30px 30px 0 0;
}

.body-car__element:nth-child(2) {
  position: absolute;
  bottom: 0;
  right: 80px;
  width: 150px;
  height: 50px;
  background: #333333;
  border-radius: 30px 30px 0 0;
}
.body-car__element:nth-child(3) {
  position: absolute;
  top: -100px;
  right: 250px;
  width: 30px;
  height: 100px;
  background: #8d0c25;
  transform: skew(35deg, 0deg);
}
.body-car__element:nth-child(4) {
  position: absolute;
  top: -10px;
  left: 130px;
  width: 150px;
  height: 10px;
  background: #d53d58;
  border-radius: 10px 10px 0 0;
  transition: all 1s;
}

.body-car:hover .body-car__element:nth-child(4) {
  width: 280px;
  animation: roof 2s linear forwards;
}

@keyframes roof {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
     transform: rotate(-45deg);
  }
  50%,100% {
     transform: translate(105px, -100px) rotate(0deg);
  }
}

.body-car__element:nth-child(5) {
  position: absolute;
  top: -50px;
  left: 300px;
  width: 40px;
  height: 50px;
  background: #000;
  transform: skew(10deg, 0deg);
  border-radius: 10px 10px 0 0;
}
.body-car__element:nth-child(6) {
  position: absolute;
  top: -40px;
  left: 30px;
  width: 10px;
  height: 40px;
  background: #7c7c7c;
  transform: skew(10deg, 0deg);
}
.body-car__element:nth-child(7) {
  position: absolute;
  top: -40px;
  left: 50px;
  width: 10px;
  height: 40px;
  background: #7c7c7c;
  transform: skew(10deg, 0deg);
}

.body-car__element:nth-child(8) {
  position: absolute;
  top: -60px;
  left: -5px;
  width: 80px;
  height: 20px;
  background: #7c7c7c;
  transform: skew(60deg, 0deg);
}
.body-car__element:nth-child(9) {
  position: absolute;
  top: 20px;
  left: 0;
  width: 20px;
  height: 40px;
  background: #ffd900;
}

.body-car__element:nth-child(10) {
  position: absolute;
  top: 20px;
  right: -10px;
  width: 20px;
  height: 40px;
  background: #ffd900;
  border-radius: 0 5px 5px 0;
}

.body-car__element:nth-child(11) {
  position: absolute;
  top: 5px;
  right: 245px;
  width: 300px;
  height: 140px;
  border-radius: 15px 0 0 15px;
  border: 2px solid #d53d58;
}

.body-car__element:nth-child(11)::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 30px;
  width: 40px;
  height: 10px;
  border: 2px solid #d53d58;
}

.body-car__element:nth-child(12) {
  position: absolute;
  top: -10px;
  left: 300px;
  width: 250px;
  height: 10px;
  background: rgba(11, 68, 255, 0.6);
  transform: skew(35deg, 0deg);
  transition: all 1s 2s;
}

.body-car:hover .body-car__element:nth-child(12) {
  height: 100px;
  top: -67%;
  left: 270px;
}

.body-car:hover .body-car__element:nth-child(12)::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -30px;
  width: 30px;
  height: 50px;
  background: rgba(11, 68, 255, 0.6);
  animation: glas 3s linear;
}

@keyframes glas {
  0%,
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.body-car__element:nth-child(13) {
  position: absolute;
  top: -67%;
  left: 220px;
  width: 70px;
  height: 0;
  background: #d63d5a;
  transform: skew(-16.5deg, 0deg) scale(0);
  transition: height 1s 1s;
}

.body-car:hover .body-car__element:nth-child(13) {
  transform: skew(-16.5deg, 0deg);
  height: 100px;
}

/* ==================================================================================================== */
.car__wheel-left {
}
@keyframes wheel-left {
  0% {
    transform: rotate(0deg);
  }
  100% {
     transform: rotate(360deg);
  }
}

@keyframes wheel-right {
  0% {
     transform: rotate(0deg);
  }
  100% {
     transform: rotate(360deg);
  }
}

.body-car:hover .wheel-left {
  animation: wheel-left 1s ease-in-out 4s;
}
.body-car:hover .wheel-right {
  animation: wheel-right 1s ease-in-out 4s;
}
.wheel-left {
  position: absolute;
  background: #000;
  bottom: -85px;
  left: 90px;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 5px dashed #515151;
}
.wheel-left__element {
  position: absolute;
  width: 80px;
  height: 80px;
  background-color: #515151;
  border-radius: 50%;
  top: 20px;
  left: 20px;
}
/* ==================================================================================================== */
.body-car__wheel-right {
}
.wheel-right {
  position: absolute;
  background: #000;
  bottom: -85px;
  right: 90px;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 5px dashed #515151;
}
.wheel-right__element {
  position: absolute;
  width: 80px;
  height: 80px;
  background-color: #515151;
  border-radius: 50%;
  top: 20px;
  left: 20px;
}
/* ==================================================================================================== */
.footer {
  padding: 20px 0;
  background-color: #505050;
}
.footer__text {
  text-align: center;
  font-size: 40px;
}
