/* ШРИФТИ==================================================================================================== */

/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Quicksand:500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,regular&display=swap");

/* Локальне підключення */
@import url("fonts.css");

/* СКИДАННЯ СТИЛІВ=========================================================================================== */
@import url("reset.css");

body {
  font-family: "Roboto", sans-serif;
  background-color: #e4e8f4;
}
/* font-family: "Roboto", sans-serif; */
/* font-family: "Proxima Nova", sans-serif; */

[class*="__container"] {
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  padding-top: 25px;
  padding-bottom: 5px;
  background-color: #edf2f7;
  color: #48523d;
}

.header li {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
}

.header h1 {
  font-size: 50px;
  text-align: center;
  font-family: "Proxima Nova", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 30px;
}

.design,
.background {
  color: #48523d;
  padding-top: 25px;
  padding-bottom: 25px;
}

.design h2,
.background h2 {
  font-size: 25px;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
}

.design h3,
.background h3 {
  font-size: 20px;
  margin-bottom: 15px;
}

.style-block {
  padding: 15px;
  background-color: #b5c6b8;
  display: inline-block;
  margin-right: 15px;
}

.design__border,
.desing__outline,
.desing__border-radius,
.desing__opacity,
.desing__box-shadow,
.background__color,
.background__image,
.background__scroll,
.background__size {
  margin-bottom: 40px;
}

.design__border-solid {
  border: 2px solid #48523d;
}

.design__border-doted {
  border: 2px dotted #48523d;
}

.design__border-dashed {
  border: 2px dashed #48523d;
}

.design__border-double {
  border: 3px double #48523d;
}

.desing__outline div {
  outline: 5px solid #48523d;
}

.desing__border-radius div {
  border-radius: 15% 85% 19% 81% / 82% 15% 85% 18%;
}

.desing__box-shadow-standart {
  padding: 50px;
  box-shadow: 7px 7px 7px #48523d;
}

.desing__box-shadow-inset {
  padding: 50px;
  box-shadow: inset 7px 7px 7px #48523d;
}

.desing__opacity-1 {
  opacity: 1;
}

.desing__opacity-05 {
  opacity: 0.5;
}

.desing__opacity-0 {
  opacity: 0;
}

.desing__visibility-yes {
  visibility: visible;
}

.desing__visibility-no {
  visibility: hidden;
}

/* background==================================================================================================== */

.background {
  background-color: #8fa2ca;
}

.background__color div {
  background-color: #edf2f7;
  padding: 50px;
  display: inline-block;
  margin-right: 15px;
}

.background__image div {
  color: #fff;
  padding: 50px;
  display: inline-block;
  margin-right: 15px;
}

.background__image-no-repeat {
  background: url("../img/bacgraund/01.jpg") center no-repeat;
}

.background__image-repeat {
  background: url("../img/furniture/icon.svg") 0 0 repeat;
}

.background__image-gradient {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(245, 255, 0, 1) 0%,
    rgba(0, 129, 255, 1) 100%
  );
}

.background__scroll div {
  display: block;
  text-align: center;
  background: url("../img/bacgraund/01.jpg") 0 0 no-repeat fixed;
  padding: 50px;
  margin-right: 15px;
}

.background__size div {
  border: 1px solid #fff;
  font-weight: 700;
  width: 400px;
  height: 300px;
  display: inline-block;
  margin-right: 15px;
}

.background__size-contain {
  background: url("../img/bacgraund/02.jpg") 0 0 / contain no-repeat;
}

.background__size-cover {
  background: url("../img/bacgraund/02.jpg") 0 0 / cover no-repeat;
}

.background__size-value {
  background: url("../img/bacgraund/02.jpg") 0 0 / 150px 150px no-repeat;
}

.background__more div {
  height: 500px;
  background: url("../img/bacgraund/01.jpg") no-repeat 0 0 / 200px,
    linear-gradient(
      55.95deg,
      rgba(245, 255, 0, 0.5) 0%,
      rgba(0, 129, 255, 0.5) 100%
    ),
    url("../img/bacgraund/02.jpg") no-repeat right top / 500px;
}

/* furniture==================================================================================================== */

.furniture {
  font-family: "Proxima Nova", sans-serif;
  color: rgb(43, 41, 41);
  background-color: #f8f8f8;
  padding-top: 75px;
  padding-bottom: 35px;
}

.furniture__container {
  max-width: 1070px;
}

.furniture h2 {
  font-size: 40px;
  font-weight: 600;
  line-height: 1.2; /* 48/40 */
  margin-bottom: 40px;
  text-align: center;
}

.furniture h3 {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4; /* 28/20 */
  margin-bottom: 30px;
}

.furniture__image {
  margin-bottom: 40px;
}

.furniture__image img {
  border-radius: 8px;
}

.furniture__text {
  margin-bottom: 40px;
}

.furniture__text p {
  line-height: 1.875; /* 30/16 */
  margin-bottom: 15px;
}

.furniture__list {
  margin-bottom: 40px;
}

.furniture__item {
  background: url("../img/furniture/icon.svg") 0 0 no-repeat;
  padding-left: 47px;
  min-height: 26.5px;
  margin-bottom: 20px;
  line-height: 1.875;
}

/* explore==================================================================================================== */

.explore {
  font-family: "Quicksand";
  color: #fff;
  background: url("../img/explore/filter.png") 0 0 / 100% auto no-repeat #914cff;
}

.explore__container {
  padding: 121px 0;
  max-width: 1280px;
  background: url("../img/explore/bg.png") 265px -26px no-repeat,
    url("../img/explore/kid.png") 100% 0 no-repeat;
}

.explore__contant {
  max-width: 600px;
}

.explore__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2; /* 48/40 */
  margin-bottom: 24px;
}

.explore__text {
  margin-bottom: 24px;
}

.explore__text p {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.6; /* 32/20 */
}

.explore__button {
  background-color: #fff;
  padding: 11.5px 20px;
  border-radius: 8px;
}

.explore__button span {
  background: url("../img/explore/icon.png") 0 0 / 17px no-repeat;
  padding-left: 25px;
  font-weight: 700;
  color: #000;
  line-height: 1.5625; /* 25/16 */
}

/* collections==================================================================================================== */

.collections {
  color: #000;
  padding-top: 80px;
  padding-bottom: 60px;
  font-family: "Open Sans", sans-serif;
  background-color: #f3f4f4;
  background: url("../img/collections/decor_01.png") 0 510px no-repeat,
    url("../img/collections/decor_02.png") 100% 260px no-repeat;
}

.collections__container {
  max-width: 1320px;
}

.collections__contant {
  display: inline-block;
  max-width: 682px;
  vertical-align: middle;
  margin-right: 116px;
}

.collections__title {
  font-size: 74px;
  line-height: 74%;
  font-weight: 300;
  margin-bottom: 52px;
}

.collections__text {
  margin-bottom: 66px;
}

.collections__text p {
  font-size: 30px;
  line-height: 183%;
  text-transform: capitalize;
}

.collections__button span {
  background: url("../img/collections/icon.svg") 0 8px no-repeat;
  padding-left: 38px;
  font-size: 29px;
  text-transform: capitalize;
  color: #fff;
}

.collections__button {
  background-color: #1e2831;
  padding: 19px 26px;
}

.collections__image {
  display: inline-block;
  vertical-align: middle;
  border: 2px solid #b6b7b7;
  border-radius: 160px 0 160px 0;
}

.collections__image img {
  border-radius: 160px 0 160px 0;
  margin: -20px 18px 20px -18px;
}

/* ==================================================================================================== */

.footer {
  background: #edf2f7;
}

.footer div {
  font-size: 50px;
  padding: 30px 0;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}
